<a href="https://colab.research.google.com/github/Aditya16032004/Python-Bacis/blob/main/python_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for aditya in range (10):
  print(aditya)

0
1
2
3
4
5
6
7
8
9

In [3]:
x=0

In [4]:
y=0

In [7]:
y=0
for x in range (10) : 
  y=y+x
  print(y)

0
1
3
6
10
15
21
28
36
45

In [11]:
x=0
y=1
for x in range (1,10):
  y=y*x
  print(y)

1
2
6
24
120
720
5040
40320
362880

In [16]:
x=0
y=0
for x in range (1,100):
  y=y+x
  print(y)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [17]:
a=33
b=200
if b > a:
  print("b is greater than a")

b is greater than a

In [18]:
a=33
b=200
if b > a:
  print("b is greater than a") # you wil gate an error

b is greater than a

In [19]:
a=33
b=33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [20]:
a=200
b=33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b is equal")  
else:
  print("a is greater than b")

a is greater than b

In [21]:
a=200
b=33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [22]:
if a > b: print("a is greater than b")

a is greater than b

In [23]:
a=2
b=330
print("A") if a > b else print("B")

B

In [24]:
a=2
b=330
print("A") if a > b else print("B")

B

In [26]:
a=330
b=330
print("A") if a > b else print("=") if a == b else print("B")

=

In [27]:
a=200
b=33
c=500
if a > b and b > a:
  print("Both condition are True")

In [32]:
x=0
y=0 
for x in range (1,100):
  if x%2== 0:
    y=y+x
  print(y)

0
2
2
6
6
12
12
20
20
30
30
42
42
56
56
72
72
90
90
110
110
132
132
156
156
182
182
210
210
240
240
272
272
306
306
342
342
380
380
420
420
462
462
506
506
552
552
600
600
650
650
702
702
756
756
812
812
870
870
930
930
992
992
1056
1056
1122
1122
1190
1190
1260
1260
1332
1332
1406
1406
1482
1482
1560
1560
1640
1640
1722
1722
1806
1806
1892
1892
1980
1980
2070
2070
2162
2162
2256
2256
2352
2352
2450
2450

In [34]:
x=[19,22,55,43,44,98,76,90,99,87,]
for y in x :
  print(y)

19
22
55
43
44
98
76
90
99
87

In [39]:
x=[19,22,55,43,44,98,76,90,99,87]
for y in x :
  if y%2 == 0:
    print (y)

22
44
98
76
90